<section class="section section-lg pb-0">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">Let us know what you think !
          <span class="text-primary">Share with us your resources
            <i class="fa fa-smile-o"></i>
          </span>
        </h2>
        <p class="lead">If you find StatNLP resources helpful, please share with others! </p>
        <div class="sharethis-inline-share-buttons"></div>
      </div>
    </div>
  </div>
</section>
