.input-search {
  font-size: 1.06rem;
  border-radius: 0;
}

.input-group-text {
  border-radius: 0;
}

.a-microphone {
  i {
    font-size: 1.4rem;
  }
}

.a-microphone:hover {
  i {
    color: #039BE5;
  }
}


