<div *ngIf="(discussions | discussionList:searchText) as pipeDiscussions">
  <section class="section section-shaped section-lg my-0">
    <div class="shape shape-style-1 shape-default shape-skew">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md mb-lg">
      <div class="row justify-content-center mb-lg">
        <div class="col-lg-7 text-center text-white">
          <app-search-box [(texts)]="discussionKeywords" (searchModelEvent)="searchModelEvent($event)" placeholder="Search discussions"></app-search-box>
          <strong *ngIf="isSearching()">Found {{pipeDiscussions.length}} discussions!</strong>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div *ngFor="let item of pipeDiscussions" class="col-lg-6 mb-4">
              <app-discussion-item [discussion]="item" hoverAction="shadow-lg--hover"></app-discussion-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
