<div class="position-relative">
  <!-- shape Hero -->
  <section class="section-shaped my-0">
    <div class="shape shape-style-1 shape-default shape-skew">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container shape-container d-flex">
      <div class="col px-0">
        <div class="row text-center">
          <div class="col-lg-12">
            <h1 class="display-1 text-white">StatNLP Resources
            </h1>
            <span class="display-4 text-white">share with everyone</span>
            <p class="lead text-white font-weight-bold">We share our papers, discussions and more. Let's discover what we have!</p>
            <div class="btn-wrapper">
              <a [routerLink]="['/papers']" class="btn btn-white btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--icon">
                  <i class="fa fa-book"></i>
                </span>
                <span class="btn-inner--text">All Papers</span>
              </a>
              <a [routerLink]="['/discussions']" class="btn btn-white btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--icon">
                  <i class="fa fa-comments"></i>
                </span>
                <span class="btn-inner--text">Dicussions</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 1st Hero Variation -->
</div>
<section class="section section-lg pt-lg-0 mt--200 pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          <div *ngFor="let item of recentDiscussions" class="col-lg-6">
            <app-discussion-item [discussion]="item"></app-discussion-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg section-nucleo-icons pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">SUTD StatNLP</h2>
        <p class="lead ">
          We are NLP and Big Data Research Group that focuses on solving novel research problems in the NLP, machine learning and big
          data.
        </p>
      </div>
    </div>
    <div>
      <a href="http://statnlp.org" target="_blank">
        <div class="icons-container blur-item mt-5 on-screen">
          <!-- Center -->
          <i class="icon fa fa-users"></i>
          <!-- Right 1 -->
          <i class="icon icon-sm fa fa-language"></i>
          <i class="icon icon-sm ni ni-app"></i>
          <i class="icon icon-sm ni ni-atom"></i>
          <!-- Right 2 -->
          <i class="icon fa fa-gears"></i>
          <i class="icon ni ni-bulb-61"></i>
          <i class="icon fa fa-server"></i>
          <!-- Left 1 -->
          <i class="icon icon-sm ni ni-world-2"></i>
          <i class="icon icon-sm fa fa-share-alt"></i>
          <i class="icon icon-sm ni ni-button-play"></i>
          <!-- Left 2 -->
          <i class="icon fa fa-database"></i>
          <i class="icon ni ni-ui-04"></i>
          <i class="icon ni ni-chart-bar-32"></i>
        </div>
      </a>
    </div>
  </div>
</section>
<section class="section section section-shaped my-0 overflow-hidden">
  <div class="shape shape-style-1 shape-default shape-skew">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-0">
    <div class="row row-grid align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="d-flex px-3">
          <div>
            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
              <i class="ni ni-books text-primary"></i>
            </div>
          </div>
          <div class="pl-4">
            <h4 class="display-3 text-white">Interesting Papers</h4>
          </div>
        </div>
        <div *ngFor="let item of recentPapers" class="mt-5">
          <app-paper-item [paper]="item"></app-paper-item>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="d-flex px-3">
          <div>
            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
              <i class="fa fa-paper-plane text-primary"></i>
            </div>
          </div>
          <div class="pl-4">
            <h4 class="display-3 text-white">New Papers</h4>
          </div>
        </div>
        <div *ngFor="let item of recentPapers" class="mt-5">
          <app-paper-item [paper]="item" icon="fa fa-newspaper-o"></app-paper-item>
        </div>
      </div>
    </div>
  </div>
</section>
