<div class="animated bounceInUp">
  <div [class]="'card shadow border-0 ' + hoverAction">
    <div class="card-body py-5">
      <a [routerLink]="['/discussions/' + discussion.id]">
        <h6 class="text-capitalize font-weight-bold">{{discussion.title}}</h6>
      </a>
      <span class="text-muted">{{discussion.date | date: 'dd MMMM yyyy'}}</span>
      <p class="description mt-3 text-black">
        {{discussion.sub}}
      </p>
      <div>
        <span *ngFor="let tag of discussion.tags" class="badge badge-pill badge-primary mr-1">{{tag}}</span>
      </div>
      <a [routerLink]="['/discussions/' + discussion.id]" class="btn btn-primary mt-4">Read more</a>
    </div>
  </div>
</div>
