<footer class="footer has-cards">
  <div class="container">
    <div class="row row-grid align-items-center my-md">
    </div>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-12">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="http://statnlp.org" class="nav-link" target="_blank">&copy; 2018 StatNLP</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/sutd-statnlp/web-resource/blob/master/LICENSE" class="nav-link" target="_blank">MIT License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
