@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();

$primary: mat-palette($mat-light-blue, 600);
$accent:  mat-palette($mat-pink, A400, 100, 900);
$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

$foreground: map-get($theme, foreground);
$background: map-get($theme, background);
